#appContainer{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(251,194,235,1), rgba(179,202,243,1));
}

#cardStyle{
    background-color: rgb(255,255,255,0.4);
    box-shadow: 5px 3px 10px 5px gray;
}